$colour-white: #fff;
$colour-dark-grey: #333;
$colour-green: #a1e1c0;
$colour-blue: #6ac5cd;

$colour-background-do-it: #c1d996;
$colour-background-doing: #abdc99;
$colour-background-ding-dong: #9ddea4;
$colour-background-done: #a1e1c0;

$colours-theme: #d2c77f, #c5d482, #b0d685, #9ad888, #8bda91;

