.header {
    display: flex;
    overflow: auto;
    justify-content: space-between;

    color: $colour-white;
    background-color: $colour-dark-grey;
}

.header__welcome {
    margin: 1rem;
}

.header__button-logout {
    width: 20px;
    height: 20px;
    margin: 1rem;

    text-align: center;
    text-decoration: none;

    color: $colour-white;
    border: 1px solid $colour-white;
    border-radius: 50%;

    line-height: 16px;
}
