body,
html {
  margin: 0;
  padding: 0; }

.header {
  display: flex;
  overflow: auto;
  justify-content: space-between;
  padding: 1.6rem 1rem;
  border-bottom: 1px solid #333; }

.header__welcome {
  margin: 0; }

.header__button-logout {
  text-decoration: none; }

.dashboard {
  display: flex; }

.dashboard__column {
  flex: 1; }

.dashboard__column-title {
  margin: 1rem;
  text-align: center; }
